.loading {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}


.loader {
    margin: auto;
    opacity: 0.8;
    border: 5px solid #EAF0F6;
    border-radius: 50%;
    border-top: 5px solid var(--button-color);
    width: 50px;
    height: 50px;
    animation: spinner 4s linear infinite;
  }
  @keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(1000deg); }
  }
  
  

